@model IEnumerable<ProjectManager.Models.Project>
@{
    ViewData["Title"] = "Lista Projektów";
}

<h1>Projekty</h1>


@if (User.IsInRole("Admin"))
{
<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj nowy projekt</a>
</p>
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tytuł</th>
            <th>Opis</th>
            <th>Termin</th>
            <th>Klient</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.Deadline.ToShortDateString()</td>
            <td>@item.Customer?.CompanyName</td>
            <td>
                <a asp-controller="ProjectTasks" asp-action="Index" class="btn btn-sm btn-info">Zadania</a>
                
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Usuń</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
