@model IEnumerable<ProjectManager.Models.Customer>

@{ ViewData["Title"] = "Klienci"; }

<h1>Zarządzanie Klientami</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj nowego klienta</a>
</p>

<<table class="table table-striped">
    <thead>
    <tr>
        <th>Nazwa Firmy</th>
        <th>NIP</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Akcje</th> </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td><strong>@item.CompanyName</strong></td>
            <td>@item.NIP</td>
            <td>@item.ContactEmail</td>
            <td>@item.PhoneNumber</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edytuj</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Usuń</a>
            </td>
        </tr>
    }
    </tbody>
</table>